.dashboard-course-search-filters {
  display: flex;
  justify-content: flex-end;

  &__filter_select {
    margin-left: 30px;

    // override select form field default
    &.form-field {
      margin-bottom: 0;
    }
  }
}
