<svg
  style="position: absolute; width: 0; height: 0;"
  width="0"
  height="0"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
>
  <defs>
    <symbol id="icon-calendar" viewBox="0 2 32 32">
      <path d="M29.973 31.973c1.33.056 2.204-1.317 1.997-2.542-.011-8.239.022-16.48-.017-24.718-.115-1.287-1.465-1.888-2.612-1.724h-7.353c-.07-.845.164-1.754-.167-2.547-.534-.915-2.031-.28-1.83.728v1.818h-7.986c-.07-.844.165-1.753-.166-2.545-.534-.916-2.031-.282-1.83.727v1.818c-2.796.023-5.598-.047-8.39.036C.4 3.214-.131 4.512.027 5.62c.011 8.205-.022 16.412.016 24.616.123 1.338 1.525 1.898 2.703 1.737h27.227zm0-1.999H2.023V4.987h7.986c-.008.728-.146 1.786.802 1.981 1.122.195 1.3-1.065 1.194-1.886.313-.231 1.063-.025 1.536-.095h6.45c-.007.728-.146 1.786.803 1.981 1.121.195 1.3-1.066 1.194-1.886.312-.231 1.062-.025 1.535-.095h6.45v24.987zm-4.991-13.992c1.077-.016 1.043-1.214.998-1.995.019-.72.126-1.789-.791-1.983-.856-.01-1.738-.092-2.581.054-.962.452-.521 1.634-.62 2.463-.195.882.554 1.667 1.45 1.46h1.544zm-7.986 0c1.077-.016 1.043-1.214.999-1.995.016-.72.13-1.782-.785-1.982-.858-.01-1.743-.093-2.588.053-.962.452-.52 1.634-.62 2.463-.195.882.554 1.667 1.45 1.46h1.544zm-7.985 0c1.077-.016 1.043-1.214.998-1.995.017-.72.131-1.782-.785-1.982-.858-.01-1.743-.093-2.588.053-.961.452-.52 1.634-.62 2.463-.194.882.554 1.667 1.45 1.46H9.01zm15.97 7.995c1.078-.016 1.044-1.214 1-1.994.018-.722.124-1.79-.792-1.983-.856-.01-1.738-.092-2.581.054-.962.452-.521 1.634-.62 2.463-.195.882.554 1.667 1.45 1.46h1.544zm-7.985 0c1.078-.016 1.043-1.214.999-1.994-.007-.7.174-1.77-.733-1.972-.874-.033-1.778-.097-2.64.043-.962.452-.52 1.634-.62 2.463-.23 1.059.776 1.654 1.721 1.46h1.273zm-7.985 0c1.077-.016 1.043-1.214.998-1.994-.007-.7.174-1.77-.733-1.972-.873-.033-1.778-.097-2.64.043-.961.452-.52 1.634-.62 2.463-.194.882.555 1.667 1.45 1.46H9.01z"></path>
    </symbol>

    <symbol id="icon-barcode" viewBox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0z"/>
      <path d="M2 4h2v16H2V4zm4 0h1v16H6V4zm2 0h2v16H8V4zm3 0h2v16h-2V4zm3 0h2v16h-2V4zm3 0h1v16h-1V4zm2 0h3v16h-3V4z"/>
    </symbol>

    <symbol id="icon-chevron-down" viewBox="0 0 24 24" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
      <polyline points="6 9 12 15 18 9"></polyline>
    </symbol>

    <symbol id="icon-chevron-down-outline" viewBox="0 0 24 24" fill="currentColor">
      <path d="M9.2925,6.29376218 C8.9025,6.68376218 8.9025,7.31376218 9.2925,7.70376218 L13.1725,11.5837622 L9.2925,15.4637622 C8.9025,15.8537622 8.9025,16.4837622 9.2925,16.8737622 C9.6825,17.2637622 10.3125,17.2637622 10.7025,16.8737622 L15.2925,12.2837622 C15.6825,11.8937622 15.6825,11.2637622 15.2925,10.8737622 L10.7025,6.28376218 C10.3225,5.90376218 9.6825,5.90376218 9.2925,6.29376218 Z" id="Fill-1" transform="translate(12.292500, 11.583131) scale(-1, 1) rotate(-270.000000) translate(-12.292500, -11.583131) "></path>
    </symbol>

    <symbol id="icon-chevron-left-outline" viewBox="0 0 24 24" fill="currentColor">
      <path d="M14.5831 7.00313C14.9731 7.39313 14.9731 8.02313 14.5831 8.41313L10.7031 12.2931L14.5831 16.1731C14.9731 16.5631 14.9731 17.1931 14.5831 17.5831C14.1931 17.9731 13.5631 17.9731 13.1731 17.5831L8.58311 12.9931C8.19311 12.6031 8.19311 11.9731 8.58311 11.5831L13.1731 6.99313C13.5531 6.61313 14.1931 6.61313 14.5831 7.00313Z"/>
    </symbol>

    <symbol id="icon-chevron-right-outline" viewBox="0 0 24 24" fill="currentColor">
      <path d="M8.58309 17.5819C8.19309 17.1919 8.19309 16.5619 8.58309 16.1719L12.4631 12.2919L8.58309 8.41189C8.19309 8.02189 8.19309 7.39189 8.58309 7.00189C8.97309 6.61189 9.60309 6.61189 9.99309 7.00189L14.5831 11.5919C14.9731 11.9819 14.9731 12.6119 14.5831 13.0019L9.99309 17.5919C9.61309 17.9719 8.97309 17.9719 8.58309 17.5819Z"/>
    </symbol>

    <symbol id="icon-chevron-up-outline" viewBox="0 0 24 24" fill="currentColor">
      <path d="M17.5819 15.4169C17.1919 15.8069 16.5619 15.8069 16.1719 15.4169L12.2919 11.5369L8.41191 15.4169C8.02191 15.8069 7.39191 15.8069 7.00191 15.4169C6.61191 15.0269 6.61191 14.3969 7.00191 14.0069L11.5919 9.41691C11.9819 9.02691 12.6119 9.02691 13.0019 9.41691L17.5919 14.0069C17.9719 14.3869 17.9719 15.0269 17.5819 15.4169Z"/>
    </symbol>

    <symbol id="icon-clock" viewBox="0 0 32 32">
      <path d="M16 0c8.837 0 16 7.163 16 16s-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0zm0 2C8.268 2 2 8.268 2 16s6.268 14 14 14 14-6.268 14-14S23.732 2 16 2z"/>
      <path d="M15.5 5.984c.647 0 1.18.492 1.244 1.122l.006.128v8.331l4.96 3.669a1.25 1.25 0 01.337 1.634l-.075.114a1.25 1.25 0 01-1.635.337l-.114-.075-5.973-4.419V7.234c0-.69.56-1.25 1.25-1.25z"/>
    </symbol>

    <symbol id="icon-pace" viewBox="0 0 32 28">
      <path d="M27.314 4.686c6.174 6.174 6.247 16.139.22 22.403l-.22.225-.043-.043-.086.076a1 1 0 01-1.232-.006l-.088-.078-3.512-3.512a1 1 0 011.327-1.492l.087.077 2.822 2.823a13.94 13.94 0 003.377-8.175h-3.982a1 1 0 01-.117-1.993l.117-.007h3.98a13.94 13.94 0 00-3.39-8.16l-2.807 2.807a1 1 0 01-1.492-1.327l.078-.087 2.806-2.806a13.94 13.94 0 00-8.16-3.375L17 6a1 1 0 01-1.993.117L15 6V2.036A13.94 13.94 0 006.84 5.41l2.806 2.806A1 1 0 018.32 9.71l-.087-.078-2.807-2.808a13.94 13.94 0 00-3.39 8.16h3.98a1 1 0 01.117 1.994l-.117.007H2.034a13.94 13.94 0 003.377 8.175l2.822-2.823a1 1 0 011.492 1.327l-.078.088-3.512 3.512a1 1 0 01-1.407.008l-.042.043c-6.248-6.249-6.248-16.38 0-22.628 6.249-6.248 16.38-6.248 22.628 0z" fill-rule="nonzero"/>
      <path d="M20.944 10.713a.25.25 0 01.343.344l-2.436 4.006a3 3 0 11-1.907-1.911z"/>
    </symbol>

    <symbol id="icon-duration" viewBox="0 0 30 28">
      <path d="M27.5 2a2 2 0 012 2v22a2 2 0 01-2 2h-25a2 2 0 01-2-2V4a2 2 0 012-2h25zm0 2h-25v22h25V4z"/><path d="M8.055 17.953a.5.5 0 01-.808.394l-3.74-2.927a.5.5 0 010-.788l3.74-2.927a.5.5 0 01.808.394v1.9h13.949v-1.9a.5.5 0 01.061-.239l.046-.07a.5.5 0 01.702-.085l3.739 2.927a.5.5 0 010 .788l-3.74 2.927a.5.5 0 01-.808-.394V16H8.054l.001 1.953zM19.548.025a1 1 0 01.993.884l.007.116v4a1 1 0 01-1.994.117l-.006-.117v-4a1 1 0 011-1zM10.548.025a1 1 0 01.993.884l.007.116v4a1 1 0 01-1.994.117l-.006-.117v-4a1 1 0 011-1z"/>
    </symbol>

    <symbol id="icon-cross" viewBox="0 0 32 32">
      <path d="M31.708 25.708c-0-0-0-0-0-0l-9.708-9.708 9.708-9.708c0-0 0-0 0-0 0.105-0.105 0.18-0.227 0.229-0.357 0.133-0.356 0.057-0.771-0.229-1.057l-4.586-4.586c-0.286-0.286-0.702-0.361-1.057-0.229-0.13 0.048-0.252 0.124-0.357 0.228 0 0-0 0-0 0l-9.708 9.708-9.708-9.708c-0-0-0-0-0-0-0.105-0.104-0.227-0.18-0.357-0.228-0.356-0.133-0.771-0.057-1.057 0.229l-4.586 4.586c-0.286 0.286-0.361 0.702-0.229 1.057 0.049 0.13 0.124 0.252 0.229 0.357 0 0 0 0 0 0l9.708 9.708-9.708 9.708c-0 0-0 0-0 0-0.104 0.105-0.18 0.227-0.229 0.357-0.133 0.355-0.057 0.771 0.229 1.057l4.586 4.586c0.286 0.286 0.702 0.361 1.057 0.229 0.13-0.049 0.252-0.124 0.357-0.229 0-0 0-0 0-0l9.708-9.708 9.708 9.708c0 0 0 0 0 0 0.105 0.105 0.227 0.18 0.357 0.229 0.356 0.133 0.771 0.057 1.057-0.229l4.586-4.586c0.286-0.286 0.362-0.702 0.229-1.057-0.049-0.13-0.124-0.252-0.229-0.357z"></path>
    </symbol>

    <symbol id="icon-envelope" viewBox="0 1 32 32">
      <path d="M29 4h-26c-1.65 0-3 1.35-3 3v20c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3v-20c0-1.65-1.35-3-3-3zM12.461 17.199l-8.461 6.59v-15.676l8.461 9.086zM5.512 8h20.976l-10.488 7.875-10.488-7.875zM12.79 17.553l3.21 3.447 3.21-3.447 6.58 8.447h-19.579l6.58-8.447zM19.539 17.199l8.461-9.086v15.676l-8.461-6.59z"></path>
    </symbol>

    <symbol id="icon-facebook" viewBox="0 0 32 32">
      <path d="M19 6h5v-6h-5c-3.86 0-7 3.14-7 7v3h-4v6h4v16h6v-16h5l1-6h-6v-3c0-0.542 0.458-1 1-1z"></path>
    </symbol>

    <symbol id="icon-filter" viewBox="0 0 32 32">
      <path d="M16 0c-8.837 0-16 2.239-16 5v3l12 12v10c0 1.105 1.791 2 4 2s4-0.895 4-2v-10l12-12v-3c0-2.761-7.163-5-16-5zM2.95 4.338c0.748-0.427 1.799-0.832 3.040-1.171 2.748-0.752 6.303-1.167 10.011-1.167s7.262 0.414 10.011 1.167c1.241 0.34 2.292 0.745 3.040 1.171 0.494 0.281 0.76 0.519 0.884 0.662-0.124 0.142-0.391 0.38-0.884 0.662-0.748 0.427-1.8 0.832-3.040 1.171-2.748 0.752-6.303 1.167-10.011 1.167s-7.262-0.414-10.011-1.167c-1.24-0.34-2.292-0.745-3.040-1.171-0.494-0.282-0.76-0.519-0.884-0.662 0.124-0.142 0.391-0.38 0.884-0.662z"></path>
    </symbol>

    <symbol id="icon-linkedin" viewBox="0 0 1.5 1.5">
      <path d="M1.5 1.5c-.001-.211.002-.424-.003-.636-.006-.128-.04-.277-.16-.344A.416.416 0 00.92.537C.885.545.84.647.83.623V.499H.531v1h.31C.843 1.316.84 1.13.844.945c.002-.08.04-.175.13-.19.073-.02.169.003.194.083.034.104.017.216.021.324V1.5h.31zM.026.5h.31v1h-.31v-1zM.18.001C.065-.003-.03.125.01.235c.03.109.17.165.265.101C.375.28.391.123.302.048A.18.18 0 00.18 0z"></path>
    </symbol>

    <symbol id="icon-login" viewBox="0 2 32 32">
      <path d="M24.817 28.999v-.677c0-2.495-2.044-4.537-4.578-4.577l-8.727-.001c-2.569 0-4.658 2.054-4.658 4.578v.677L3.648 29A15.905 15.82 0 010 18.896C0 10.116 7.163 3 16 3c8.836 0 16 7.117 16 15.896A15.905 15.82 0 0128.352 29zM16 5.24c-7.592 0-13.747 6.205-13.747 13.857a13.87 13.87 0 002.78 8.355c.53-3.114 3.222-5.504 6.478-5.557l.152-.001a5.445 5.416 0 01-1.159-3.342V15.64a5.412 5.412 0 015.404-5.408 5.412 5.412 0 015.403 5.408v2.912a5.4 5.4 0 01-1.16 3.342h.045c3.37 0 6.166 2.51 6.617 5.76a13.872 13.872 0 002.933-8.557C29.746 11.446 23.592 5.24 16 5.24zm.045 7.173c-1.817 0-3.307 1.371-3.419 3.094l-.006.224.008 1.968h-.008v.818c0 1.824 1.516 3.31 3.38 3.31 1.771 0 3.229-1.342 3.369-3.041l.011-.214v-1.309l-.003-.002-.01-2.35c-.377-1.443-1.75-2.498-3.322-2.498z"></path>
    </symbol>

    <symbol id="icon-magnifying-glass" viewBox="0 0 22 22">
      <path stroke-width="1.7" d="M20.89 20.36l-5.826-5.834c1.486-1.436 2.407-3.414 2.407-5.596C17.47 4.557 13.777 1 9.235 1 4.695 1 1 4.557 1 8.93c0 4.372 3.694 7.93 8.235 7.93a8.39 8.39 0 005.249-1.825l5.841 5.85c.077.076.18.115.283.115a.4.4 0 00.272-.105.368.368 0 00.01-.534zM9.2 16c-4.136 0-7.5-3.14-7.5-7s3.364-7 7.5-7 7.5 3.14 7.5 7-3.365 7-7.5 7z"></path>
    </symbol>

    <symbol id="icon-menu" viewBox="0 0 24 24">
      <path d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" fill="currentColor"/>
    </symbol>

    <symbol id="icon-org" viewBox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0z"/>
      <path d="M21 21H3a1 1 0 0 1-1-1v-7.513a1 1 0 0 1 .343-.754L6 8.544V4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1zM9 19h3v-6.058L8 9.454l-4 3.488V19h3v-4h2v4zm5 0h6V5H8v2.127c.234 0 .469.082.657.247l5 4.359a1 1 0 0 1 .343.754V19zm2-8h2v2h-2v-2zm0 4h2v2h-2v-2zm0-8h2v2h-2V7zm-4 0h2v2h-2V7z"/>
    </symbol>

    <symbol id="icon-quote" viewBox="0 0 32 32">
      <path d="M7.718 27c-2.573 0-4.503-.828-5.788-2.484C.643 22.861 0 20.751 0 18.188c0-2.917.811-5.54 2.434-7.865C4.056 7.996 6.392 6.22 9.44 5l5.759 3.666c-2.177.908-3.968 1.864-5.374 2.87-1.405 1.005-2.424 2.217-3.056 3.636l.296.236a2.492 2.484 0 011.9-.827c1.621 0 3.037.503 4.244 1.507 1.208 1.006 1.811 2.455 1.811 4.347 0 2.208-.643 3.855-1.929 4.94C11.805 26.457 10.013 27 7.718 27zm16.802 0c-2.574 0-4.502-.828-5.789-2.484-1.287-1.655-1.93-3.765-1.93-6.328 0-2.917.812-5.54 2.434-7.865C20.857 7.996 23.195 6.22 26.242 5L32 8.666c-2.177.908-3.968 1.864-5.374 2.87-1.404 1.005-2.423 2.217-3.056 3.636l.296.236a2.492 2.484 0 011.9-.827c1.623 0 3.038.503 4.246 1.507 1.207 1.006 1.81 2.455 1.81 4.347 0 2.208-.643 3.855-1.93 4.94C28.606 26.457 26.815 27 24.52 27z"></path>
    </symbol>

    <symbol id="icon-search-fail" viewBox="0 0 32 32">
      <path d="M4.22 4.755c-1.176.53.246 1.191.95.936h21.316c1.176-.53-.246-1.19-.95-.936H4.221zm3.202 9.853H.955V2.454h28.797v12.154c-.571.067-1.764-.29-1.622.65.422.521 1.215.192 1.812.285.872.165.769-.841.746-1.416V1.986c-.19-.774-1.176-.364-1.763-.468H.487C-.29 1.708.122 2.693.018 3.28v11.796c.19.775 1.177.365 1.763.468 1.94-.025 3.89.049 5.823-.037.466-.177.316-.916-.182-.898zm23.996 12.586l-5.65-5.644c2.536-3.723 1.742-9.205-1.733-12.065-3.371-3.033-8.98-2.964-12.274.152-3.375 2.919-4.046 8.35-1.5 12.007 2.386 3.725 7.592 5.206 11.585 3.286.86-.828 1.496-.58 2.102.264 1.688 1.65 3.309 3.376 5.04 4.978 1.326.976 3.362-.385 2.96-1.982a1.922 1.922 0 00-.53-.996zm-19.33-4.798c-3.008-2.864-3.262-8.016-.557-11.165 2.518-3.217 7.498-4.019 10.906-1.77 3.38 2.042 4.831 6.62 3.256 10.235-1.46 3.72-5.83 5.924-9.695 4.898a8.302 8.302 0 01-3.91-2.198zm18.668 6.867c-.753.742-1.571-.094-2.08-.67l-4.876-4.87c.787-.505 1.361-2.013 2.082-.736 1.662 1.68 3.364 3.323 5.002 5.025a1 1 0 01-.128 1.251zm-7.955-17.566c-2.585-2.736-7.422-2.615-9.867.246-2.606 2.714-2.245 7.53.736 9.829 2.851 2.473 7.662 1.857 9.807-1.242 1.98-2.61 1.682-6.555-.676-8.833zm-8.97.661c2.307-2.453 6.684-2.221 8.721.46 1.21 1.467 1.612 3.54 1.063 5.357H12.35c-.612-2.022-.038-4.336 1.48-5.817zm8.307 8.298c-2.333 2.484-6.777 2.208-8.788-.542-.805-.787-.62-1.186.403-1.003h9.494a5.844 5.844 0 01-1.109 1.545zm-5.733-4.71c.682.413 1.09-.572 1.577-.913.487.34.894 1.326 1.576.913.414-.681-.573-1.088-.914-1.575.341-.486 1.328-.893.914-1.574-.682-.413-1.089.572-1.576.913-.488-.34-.895-1.327-1.577-.913-.414.682.573 1.088.914 1.574-.321.478-1.36.912-.914 1.575z"></path>
    </symbol>

    <symbol id="icon-stopwatch" viewBox="-1 0 32 32">
      <path d="M16 6.038v-2.038h4v-2c0-1.105-0.895-2-2-2h-6c-1.105 0-2 0.895-2 2v2h4v2.038c-6.712 0.511-12 6.119-12 12.962 0 7.18 5.82 13 13 13s13-5.82 13-13c0-6.843-5.288-12.451-12-12.962zM22.071 26.071c-1.889 1.889-4.4 2.929-7.071 2.929s-5.182-1.040-7.071-2.929c-1.889-1.889-2.929-4.4-2.929-7.071s1.040-5.182 2.929-7.071c1.814-1.814 4.201-2.844 6.754-2.923l-0.677 9.813c-0.058 0.822 0.389 1.181 0.995 1.181s1.053-0.36 0.995-1.181l-0.677-9.813c2.552 0.079 4.94 1.11 6.754 2.923 1.889 1.889 2.929 4.4 2.929 7.071s-1.040 5.182-2.929 7.071z"></path>
    </symbol>

    <symbol id="icon-twitter" viewBox="0 0 32 32">
      <path d="M32 7.075c-1.175 0.525-2.444 0.875-3.769 1.031 1.356-0.813 2.394-2.1 2.887-3.631-1.269 0.75-2.675 1.3-4.169 1.594-1.2-1.275-2.906-2.069-4.794-2.069-3.625 0-6.563 2.938-6.563 6.563 0 0.512 0.056 1.012 0.169 1.494-5.456-0.275-10.294-2.888-13.531-6.862-0.563 0.969-0.887 2.1-0.887 3.3 0 2.275 1.156 4.287 2.919 5.463-1.075-0.031-2.087-0.331-2.975-0.819 0 0.025 0 0.056 0 0.081 0 3.181 2.263 5.838 5.269 6.437-0.55 0.15-1.131 0.231-1.731 0.231-0.425 0-0.831-0.044-1.237-0.119 0.838 2.606 3.263 4.506 6.131 4.563-2.25 1.762-5.075 2.813-8.156 2.813-0.531 0-1.050-0.031-1.569-0.094 2.913 1.869 6.362 2.95 10.069 2.95 12.075 0 18.681-10.006 18.681-18.681 0-0.287-0.006-0.569-0.019-0.85 1.281-0.919 2.394-2.075 3.275-3.394z"></path>
    </symbol>

    <symbol id="icon-arrow-right" viewBox="0 0 16 16" fill="currentColor">
      <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 01.708 0l3 3a.5.5 0 010 .708l-3 3a.5.5 0 01-.708-.708L12.793 8l-2.647-2.646a.5.5 0 010-.708z" clip-rule="evenodd"/>
      <path fill-rule="evenodd" d="M2 8a.5.5 0 01.5-.5H13a.5.5 0 010 1H2.5A.5.5 0 012 8z" clip-rule="evenodd"/>
    </symbol>

    <symbol id="icon-check" viewBox="0 0 23 19">
      <path d="M19.353956.9132912c.630694-.7700695 1.80988-.9164635 2.633785-.3269803.760528.5441384.952489 1.5250927.481463 2.2784694l-.131623.1832185L9.907807 18.22459l-8.625441-7.9714526c-.737812-.6818703-.744518-1.7936679-.014978-2.4832695.673422-.6365553 1.738782-.6908614 2.479008-.1591401l.177868.1451414 5.590879 5.1661911L19.353956.9132912z" fill-rule="nonzero"/>
    </symbol>

    <symbol id="icon-info-rounded" viewBox="0 0 32 32">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M32 16c0 8.837-7.163 16-16 16S0 24.837 0 16 7.163 0 16 0s16 7.163 16 16Zm-18.052-.652a2.05 2.05 0 1 1 4.1 0v9a2.05 2.05 0 1 1-4.1 0v-9Zm2.05-4.777a2.484 2.484 0 1 0 0-4.968 2.484 2.484 0 0 0 0 4.968Z" />
    </symbol>

    <symbol id="icon-warning" viewBox="0 0 32 32">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M14.275 1.943c.772-1.318 2.678-1.318 3.45 0l13.51 23.045c.781 1.334-.18 3.012-1.726 3.012H2.491C.945 28-.016 26.322.765 24.988l13.51-23.045ZM17.5 17.886a1.504 1.504 0 0 1-3 0l-.548-7.187A2.052 2.052 0 0 1 16 8.5a2.052 2.052 0 0 1 2.048 2.2l-.548 7.187Zm-1.5 2.99a2.044 2.044 0 1 0 0 4.088 2.044 2.044 0 0 0 0-4.088Z" fill="currentColor" />
    </symbol>

    <symbol id="icon-certificate" viewBox="0 0 25 34">
      <path fill-rule="evenodd" d="M16.8672011 1.15352755a1.89800194 1.89800194 0 01.0828731.14354057c.5834393 1.12089675 1.7634976 1.80220372 3.0259423 1.74702855 1.0472388-.0457696 1.9332973.76608166 1.9790669 1.81332054a1.8980019 1.8980019 0 010 .16574637c-.0551752 1.26244468.6261318 2.44250297 1.7470285 3.02594221.9298203.48398181 1.2912438 1.63009484.807262 2.55991511a1.89803831 1.89803831 0 01-.0828732.1435406c-.6790055 1.0657215-.6790055 2.4283355 0 3.4940571.5632571.8840506.3032025 2.0573254-.5808482 2.6205825a1.89800314 1.89800314 0 01-.1435406.0828731c-1.1208967.5834393-1.8022037 1.7634976-1.7470285 3.0259423.0457696 1.0472388-.7660817 1.9332973-1.8133206 1.9790669a1.89800029 1.89800029 0 01-.1657463 0c-1.2288406-.0537065-2.3796224.5903832-2.9780934 1.6584595L16.99959 33.99959l-4.4826871-3.8258223L7.99959002 33.99959 7.999 23.612l-.04689927-.0831754c-.61087906-1.0172858-1.73293693-1.6260124-2.92893715-1.5737412-1.04723888.0457696-1.93329731-.7660817-1.97906691-1.8133206a1.89800029 1.89800029 0 010-.1657463c.05517517-1.2624447-.6261318-2.442503-1.74702855-3.0259423-.92982027-.4839818-1.29124376-1.6300948-.80726195-2.5599151a1.89802177 1.89802177 0 01.08287318-.1435405c.67900544-1.0657216.67900544-2.4283356 0-3.4940571-.56325707-.88405071-.30320247-2.05732545.5808482-2.62058252a1.89800297 1.89800297 0 01.14354057-.08287319c1.12089675-.58343924 1.80220372-1.76349753 1.74702855-3.02594221-.0457696-1.04723888.76608166-1.93329731 1.81332054-1.97906691a1.8980019 1.8980019 0 01.16574637 0c1.26244468.05517517 2.44250297-.6261318 3.02594221-1.74702855C8.5330876.36724785 9.67920063.00582436 10.6090209.48980617a1.8980041 1.8980041 0 01.1435406.08287318c1.0657215.67900544 2.4283355.67900544 3.4940571 0 .8840506-.56325707 2.0573254-.30320247 2.6205825.5808482zm-.6470535 1.68089814c-.4798116-.7530802-1.4792679-.97460819-2.2323481-.49479661-.9078369.57841204-2.0685821.57841204-2.976419 0a1.61680557 1.61680557 0 00-.1222753-.07059567c-.7920691-.4122808-1.76838761-.10440154-2.18066841.68766758-.4970038.95483797-1.50223864 1.53521058-2.57765448 1.48820951a1.61681987 1.61681987 0 00-.14119135 0c-.89209238.03898891-1.58366938.79377943-1.54468046 1.68587181.04700107 1.07541584-.53337154 2.08065068-1.48820951 2.57765448a1.61681747 1.61681747 0 00-.1222753.07059568c-.7530802.47981157-.97460819 1.47926784-.49479661 2.23234803.57841204.9078369.57841204 2.0685821 0 2.976419a1.6168252 1.6168252 0 00-.07059567.1222753c-.4122808.7920691-.10440154 1.7683876.68766758 2.1806684.95483797.4970038 1.53521058 1.5022387 1.48820951 2.5776545a1.61682101 1.61682101 0 000 .1411914c.03898891.8920924.79377943 1.5836694 1.68587181 1.5446804 1.07541584-.047001 2.08065068.5333716 2.57765448 1.4882095a1.61680568 1.61680568 0 00.07059568.1222753c.47981157.7530802 1.47926784.9746082 2.23234803.4947967.9078369-.5784121 2.0685821-.5784121 2.976419 0a1.6168244 1.6168244 0 00.1222753.0705956c.7920691.4122808 1.7683876.1044016 2.1806684-.6876676.4970038-.9548379 1.5022387-1.5352105 2.5776545-1.4882095.0470414.002056.09415.002056.1411914 0 .8920924-.0389889 1.5836694-.7937794 1.5446804-1.6858718-.047001-1.0754158.5333716-2.0806507 1.4882095-2.5776545a1.61680477 1.61680477 0 00.1222753-.0705956c.7530802-.4798116.9746082-1.4792679.4947967-2.2323481-.5784121-.9078369-.5784121-2.0685821 0-2.976419a1.61680477 1.61680477 0 00.0705956-.1222753c.4122808-.7920691.1044016-1.76838761-.6876676-2.18066841-.9548379-.4970038-1.5352105-1.50223864-1.4882095-2.57765448a1.61677273 1.61677273 0 000-.14119135c-.0389889-.89209238-.7937794-1.58366938-1.6858718-1.54468046-1.0754158.04700107-2.0806507-.53337154-2.5776545-1.48820951a1.61681655 1.61681655 0 00-.0705956-.1222753zm1.4110182 5.84602479c.3802639.27206918.4762443.7625463.2407314 1.13923468l-.0658117.09160925L11.5911987 17.49959l-4.31272082-3.9857263c-.36890594-.3409351-.37225874-.8968339-.00748869-1.2416347.33671082-.3182777.86939103-.3454307 1.23950397-.0795701l.08893393.0725707 2.79543961 2.5830956 4.9194064-6.00438461c.3153471-.38503472.90494-.45823173 1.3168927-.16349011z" />
    </symbol>

    <symbol id="icon-checklist" viewBox="0 0 26 20">
      <path d="M26 11c0-.5522847-.4228422-1-.9444444-1H9.9444444C9.4228422 10 9 10.4477153 9 11s.4228422 1 .9444444 1h15.1111112C25.5771578 12 26 11.5522847 26 11zm0-7c0-.5522847-.4228422-1-.9444444-1H9.9444444C9.4228422 3 9 3.4477153 9 4s.4228422 1 .9444444 1h15.1111112C25.5771578 5 26 4.5522847 26 4zm0 14c0-.5522847-.4228422-1-.9444444-1H9.9444444C9.4228422 17 9 17.4477153 9 18s.4228422 1 .9444444 1h15.1111112C25.5771578 19 26 18.5522847 26 18zM5 11c0-1.1045695-.8954305-2-2-2s-2 .8954305-2 2 .8954305 2 2 2c.530433 0 1.0391408-.2107137 1.4142136-.5857864C4.7892863 12.0391408 5 11.530433 5 11zm-2 5c1.1045695 0 2 .8954305 2 2 0 .530433-.2107137 1.0391408-.5857864 1.4142136C4.0391408 19.7892863 3.530433 20 3 20c-1.1045695 0-2-.8954305-2-2s.8954305-2 2-2zM5.7990413.100478c.2074167.1511496.2597697.4236369.1313081.6329082l-.0358973.050894L2.5045138 5 .1521207 2.7857076c-.2012215-.1894084-.2030503-.4982411-.0040848-.6897971.1836605-.1768209.4742133-.1919059.6760931-.0442056l.0485094.0403171 1.5247852 1.4350531L5.0807362.1913059c.1720075-.2139082.4936037-.2545732.7183051-.0908279z" fill-rule="nonzero"/>
    </symbol>

    <symbol id="icon-creditCard" viewBox="0 0 23 16">
      <path d="M2.20057327 0C1.01589717 0 .048773.9596134.048773 2.1388255v11.722348C.048773 15.0403851 1.01589717 16 2.20057327 16H19.8969727c1.1846761 0 2.1518003-.9596149 2.1518003-2.1388265V2.1388255C22.048773.9596134 21.0816488 0 19.8969727 0H2.20057327zm0 .7810832H19.8969727c.7635308 0 1.3670996.5977398 1.3670996 1.3577423v1.3440119H.83347368V2.1388255c0-.7600025.60356583-1.3577423 1.36709959-1.3577423zM.83347368 4.2639206H21.2640723v1.5102972H.83347368V4.2639206zm0 2.292143H21.2640723v7.3051099c0 .760004-.6035688 1.3577429-1.3670996 1.3577429H2.20057327c-.76353376 0-1.36709959-.5977389-1.36709959-1.3577429V6.5560636zM14.3044437 8.969489c-.5931173.000059-1.1622736.2347146-1.5816691.6521731-.419391.4174601-.6551945.9839934-.6551945 1.5743712 0 .5903778.2358035 1.1569113.6551945 1.5743713.4193955.41746.9885518.6528772 1.5816691.6529363.4755174-.000307.9338968-.1537777 1.3134527-.4286811.3801298.2754171.8397845.4286811 1.3157556.4286811.5931885 0 1.1622102-.2346586 1.581665-.6521747.4194385-.4175146.6551945-.9846784.6551945-1.5751329 0-.590456-.235756-1.1568565-.6551945-1.5743712-.4194548-.4175146-.9884765-.6521731-1.581665-.6521731-.4760586 0-.9355828.153168-1.3157556.4286795-.3795559-.2749033-.8379353-.4283725-1.3134527-.4286795zm-10.97433155.5934391c-.14225092-.0031451-.27506946.0705963-.34712269.1927237-.07205323.1221275-.07205323.2735086 0 .3956361s.20487177.1958688.34712269.1927237h4.93810412c.14225092.0031451.27506946-.0705962.34712269-.1927237.07205323-.1221275.07205323-.2735086 0-.3956361-.07205323-.1221274-.20487177-.1958688-.34712269-.1927237H3.33011215zm10.97433155.187643c.2725542.0002037.5363549.0767848.7640083.2173916-.0566171.0851835-.1059829.1744765-.1501956.2662093-.0051901.0109229-.010232.021831-.0153332.0327981-.0849702.183913-.1440638.3785363-.1762516.5797103-.0023727.0150263-.0047453.029905-.0069697.0450052-.0139392.1005641-.0237561.2016862-.0237561.3043478 0 .1026602.0097872.2045469.0237561.305111.0020761.0150854.0044487.0299789.0069697.0450052.0321937.2011725.0912873.3957973.1762516.5797103.0050419.0109228.0100837.0219047.0153332.0327981.044057.0914125.0930372.1805269.1494304.2654462-.2275244.1403883-.4909172.2171864-.7632431.2173916-.3852146-.0000797-.7544643-.1522087-1.0268566-.4233422-.2724088-.2711512-.4252455-.6386568-.4253048-1.0221202.0000593-.3834633.152896-.7502073.4253048-1.0213569.2723923-.2711335.641642-.4240255 1.0268566-.4241054zm2.6292083 0c.385317 0 .7544006.1521363 1.026854.4233407.2724682.2712056.4253033.6385799.4253033 1.0221215 0 .3835416-.1528351.7509158-.4253033 1.0221202-.2724534.2712058-.641537.4241038-1.026854.4241038-.3853199 0-.7544035-.152898-1.0268554-.4241038-.0025209-.0025093-.0044487-.0051662-.0069696-.0076755a.38870154.38870154 0 00-.0007652-.0014761c-.2671001-.2702006-.417312-.6339069-.4176367-1.0129671.0003247-.3790603.1505529-.7420049.4176367-1.0122054a.39127193.39127193 0 00.0123081-.0137274c.272053-.268543.6389834-.4195309 1.0222821-.4195309zm-13.64108838 1.925249c-.21301216.0149431-.37503437.1964984-.36482837.4088113.010206.2123129.18890304.3776403.40237541.3722708h2.1111851c.1422545.0031509.27507894-.070589.34713572-.1927186.07205678-.1221297.07205678-.2735152 0-.3956449-.07205678-.1221297-.20488122-.1958696-.34713572-.1927186h-2.1111851a.39419308.39419308 0 00-.03754704 0z" fill-rule="nonzero"/>
    </symbol>

    <symbol id="icon-round-close" viewBox="0 0 24 24">
      <path fill-rule="evenodd" d="M12 0c6.627417 0 12 5.372583 12 12s-5.372583 12-12 12S0 18.627417 0 12 5.372583 0 12 0zm4.942462 7.0575379c-.41005-.4100505-1.074874-.4100505-1.484924 0L12 10.515 8.542462 7.0575379l-.079746-.0720792c-.412412-.3363696-1.020756-.3123432-1.405178.0720792-.410051.4100505-.410051 1.0748737 0 1.4849242L10.515 12l-3.457462 3.4575379-.072079.0797457c-.33637.4124125-.312343 1.0207562.072079 1.4051785.41005.4100505 1.074874.4100505 1.484924 0L12 13.485l3.457538 3.4574621.079746.0720792c.412412.3363696 1.020756.3123432 1.405178-.0720792.410051-.4100505.410051-1.0748737 0-1.4849242L13.485 12l3.457462-3.4575379.072079-.0797457c.33637-.4124125.312343-1.0207562-.072079-1.4051785z"/>
    </symbol>

    <symbol id="icon-plus" viewBox="0 0 24 24">
      <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z"/>
    </symbol>

    <symbol id="icon-three-vertical-dots" viewBox="0 0 8 32">
      <path d="M4 24c2.209139 0 4 1.790861 4 4s-1.790861 4-4 4-4-1.790861-4-4 1.790861-4 4-4Zm0-12c2.209139 0 4 1.790861 4 4s-1.790861 4-4 4-4-1.790861-4-4 1.790861-4 4-4ZM4 0c2.209139 0 4 1.790861 4 4S6.209139 8 4 8 0 6.209139 0 4s1.790861-4 4-4Z" fill-rule="evenodd"/>
    </symbol>

    <symbol id="icon-school" fill='currentColor' viewBox='0 0 24 24'>
      <path d='M4.86093507,12.7064857 L4.86093507,15.3820842 C4.86093507,16.0771685 5.24180318,16.7246443 5.85119216,17.0579039 L10.6120435,19.6573287 C11.1833457,19.9715449 11.8689083,19.9715449 12.4402105,19.6573287 L17.2010618,17.0579039 C17.8104508,16.7246443 18.1913189,16.0771685 18.1913189,15.3820842 L18.1913189,12.7064857 L12.4402105,15.8486476 C11.8689083,16.1628638 11.1833457,16.1628638 10.6120435,15.8486476 L4.86093507,12.7064857 Z M10.6120435,3.50852087 L2.58524812,7.88850413 C1.92825063,8.25032883 1.92825063,9.2024991 2.58524812,9.56432381 L10.6120435,13.9443071 C11.1833457,14.2585233 11.8689083,14.2585233 12.4402105,13.9443071 L20.0956595,9.76427956 L20.0956595,15.3916059 C20.0956595,15.9152995 20.5241361,16.3437762 21.0478297,16.3437762 C21.5715234,16.3437762 22,15.9152995 22,15.3916059 L22,9.28819443 C22,8.93589143 21.8095659,8.62167524 21.5048715,8.45028459 L12.4402105,3.50852087 C11.8689083,3.20382638 11.1833457,3.20382638 10.6120435,3.50852087 Z' id='Shape'></path>
    </symbol>

    <symbol id="icon-univerity"  viewBox="0 0 24 24" id="svg-65f3q9163" xmlns="http://www.w3.org/2000/svg">
      <path d="M4 11.5v4c0 .83.67 1.5 1.5 1.5S7 16.33 7 15.5v-4c0-.83-.67-1.5-1.5-1.5S4 10.67 4 11.5Zm6 0v4c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5v-4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5ZM3.5 22h16c.83 0 1.5-.67 1.5-1.5s-.67-1.5-1.5-1.5h-16c-.83 0-1.5.67-1.5 1.5S2.67 22 3.5 22ZM16 11.5v4c0 .83.67 1.5 1.5 1.5s1.5-.67 1.5-1.5v-4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5ZM10.57 1.49l-7.9 4.16c-.41.21-.67.64-.67 1.1C2 7.44 2.56 8 3.25 8h16.51C20.44 8 21 7.44 21 6.75c0-.46-.26-.89-.67-1.1l-7.9-4.16c-.58-.31-1.28-.31-1.86 0Z" fill="currentColor" fill-rule="nonzero"/>
    </symbol>

    <symbol id="icon-more" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M16 12c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2Zm-2 0c0-1.1-.9-2-2-2s-2 .9-2 2 .9 2 2 2 2-.9 2-2Zm-6 0c0-1.1-.9-2-2-2s-2 .9-2 2 .9 2 2 2 2-.9 2-2Z" fill="currentColor" fill-rule="evenodd"/>
    </symbol>

    <symbol id="icon-logout-square" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M18 19H6c-.55 0-1-.45-1-1V6c0-.55.45-1 1-1h5c.55 0 1-.45 1-1s-.45-1-1-1H5a2 2 0 0 0-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-6c0-.55-.45-1-1-1s-1 .45-1 1v5c0 .55-.45 1-1 1ZM14 4c0 .55.45 1 1 1h2.59l-9.13 9.13a.996.996 0 1 0 1.41 1.41L19 6.41V9c0 .55.45 1 1 1s1-.45 1-1V3h-6c-.55 0-1 .45-1 1Z" fill="currentColor" fill-rule="nonzero"/>
    </symbol>

    <symbol id="icon-check-rounded" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2Zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8Zm3.88-11.71L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0Z" fill="currentColor" fill-rule="evenodd"/>
    </symbol>

    <symbol id="icon-camera" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l2.29 2.29c.63.63 1.71.18 1.71-.71V8.91c0-.89-1.08-1.34-1.71-.71L17 10.5Z" fill="currentColor" fill-rule="evenodd"/>
    </symbol>

    <symbol id="icon-cal" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M18.4 5.6h-.8v-.8c0-.44-.36-.8-.8-.8-.44 0-.8.36-.8.8v.8H8v-.8c0-.44-.36-.8-.8-.8-.44 0-.8.36-.8.8v.8h-.8c-.88 0-1.6.72-1.6 1.6v11.2c0 .88.72 1.6 1.6 1.6h12.8c.88 0 1.6-.72 1.6-1.6V7.2c0-.88-.72-1.6-1.6-1.6Zm-.8 12.8H6.4c-.44 0-.8-.36-.8-.8v-8h12.8v8c0 .44-.36.8-.8.8Z" fill="currentColor" fill-rule="evenodd"/>
    </symbol>

    <symbol id="icon-arrow-right-rounded"  viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <g fill="none" fill-rule="evenodd">
      <path d="M0 0h24v24H0z"/>
      <path d="M0 0h24v24H0z"/>
      <path d="M0 0h24v24H0z"/>
      <path d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12s4.48 10 10 10 10-4.48 10-10Zm-10 2.79V13H9c-.55 0-1-.45-1-1s.45-1 1-1h3V9.21c0-.45.54-.67.85-.35l2.79 2.79c.2.2.2.51 0 .71l-2.79 2.79a.5.5 0 0 1-.85-.36Z" fill="currentColor" fill-rule="nonzero"/>
      </g>
    </symbol>

    <symbol id="icon-archive" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M19.2 3H4.8C3.9 3 3 3.81 3 4.8v2.709c0 .648.387 1.206.9 1.521V19.2c0 .99.99 1.8 1.8 1.8h12.6c.81 0 1.8-.81 1.8-1.8V9.03c.513-.315.9-.873.9-1.521V4.8c0-.99-.9-1.8-1.8-1.8Zm-5.4 10.8h-3.6a.903.903 0 0 1-.9-.9c0-.495.405-.9.9-.9h3.6c.495 0 .9.405.9.9s-.405.9-.9.9Zm5.4-6.3H4.8V4.8h14.4v2.7Z" fill="currentColor" fill-rule="nonzero"/>
    </symbol>
  </defs>
</svg>
