.dashboard-card {
  background: white;
  border-radius: $border-radius;
  color: r-theme-val(dashboard-card, base-color);
  box-shadow: r-theme-val(dashboard-card, base-shadow);

  &.dashboard-card--closed {
    .dashboard-card__header {
      .icon {
        transform: rotate(-90deg);
      }

      &:hover {
        .icon {
          color: r-theme-val(dashboard-card, text-hover-color);
        }
      }
    }
  }

  &__header {
    align-items: center;
    display: flex;
    font-family: $r-font-family-montserrat;
    font-weight: 600;
    font-size: 16px;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 2rem;

    .icon {
      cursor: pointer;
      transition: transform 0.2s $r-ease-in-out;
      user-select: none;

      &:hover {
        color: r-theme-val(dashboard-card, text-hover-color);
      }
    }
  }

  &__wrapper {
    transition: height 0.2s $r-ease-in-out;
    height: auto;
    overflow: hidden;
  }

  &__content {
    padding: 0 1.6rem 2rem 2rem;

    @include media-breakpoint-down(sm) {
      padding: 1rem;
    }
  }

  &.dashboard-card--content-full-width {
    .dashboard-card__content {
      padding: 0;
      @include media-breakpoint-down(sm) {
        padding: 0;
      }
    }
  }

  &__footer {
    border-top: 1px solid r-theme-val(dashboard-card, base-border);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0.5rem;
  }
}
