// Build font family class helpers. Each enabled font family class will be
// like '.font-NAME'
$r-fonts: () !default;
@each $name, $value in $r-fonts {
  .font-#{$name} {
    font-family: $value !important;
  }
}

// Build text color helpers
@each $name, $value in $colors {
  @if type-of($value) == 'map' {
    @each $sub-name, $sub-value in $value {
      .text-#{($name + '-' + $sub-name)} {
        color: $sub-value !important;
      }
    }
  } @else {
    .text-#{$name} {
      color: $value !important;
    }
  }
}

// Additional weights
.font-weight-extrabold {
  font-weight: $font-weight-extrabold !important;
}
