.dashboard-sidebar {
  flex-shrink: 0;
  width: 300px;
  background-color: r-theme-val(dashboard-sidebar, background-color);
  border-radius: $border-radius;
  box-shadow: r-theme-val(dashboard-sidebar, base-shadow);
  color: r-theme-val(dashboard-sidebar, base-color);
  padding-bottom: rem-calc(27px);

  @include media-breakpoint-down(lg) {
    width: auto;
  }

  &__container {
    &__header {
      padding: rem-calc(64px) rem-calc(16px) rem-calc(50px) rem-calc(16px);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;

      &__avatar {
        position: absolute;
        top: calc($avatar-size / -2);
      }

      h3 {
        font-weight: bold;
        text-align: center;
        margin-bottom: rem-calc(12px);
      }

      p {
        color: r-theme-val(dashboard-sidebar, sub-title-color);
        margin-bottom: 0;
      }
    }

    &__title {
      $titlePadding: rem-calc(r-theme-val(dashboard-sidebar, menu-link-left-padding) + 3px);
      padding: 0 $titlePadding 1rem $titlePadding;
      margin: 0;
    }

    &__responsive-nav {
      display: none;

      @include media-breakpoint-down(lg) {
        display: block;
        padding: 0 1rem 1rem 1rem;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      min-height: 8rem;

      @include media-breakpoint-down(lg) {
        display: none;
      }

      li {
        height: rem-calc(16px);
        overflow: hidden;
        display: flex;
        align-items: center;
        font-size: rem-calc(16px);
        margin-top: rem-calc(8px);
        line-height: 1em;
        &:first-child {
          padding-top: 0;
        }

        &:hover {
          border-left: 3px solid r-theme-val(dashboard-sidebar, base-color);
          a {
            padding-left: rem-calc(r-theme-val(dashboard-sidebar, menu-link-left-padding) - 3px);
          }
        }

        &.active {
          border-left: 3px solid r-theme-val(dashboard-sidebar, active-color);
          a {
            padding-left: rem-calc(r-theme-val(dashboard-sidebar, menu-link-left-padding) - 3px);
            font-weight: 600;
            color: r-theme-val(dashboard-sidebar, active-color);
          }
        }

        a {
          display: flex;
          flex: 1;
          align-items: center;
          height: rem-calc(24px);
          padding-left: r-theme-val(dashboard-sidebar, menu-link-left-padding);
          color: r-theme-val(dashboard-sidebar, base-color);
        }
      }
    }
  }
}
